{% extends "blog/layout.html" %}

{% block extra_script %}
<script>
    $(function() {
        $(".delete-confirm").click(function() {
            var url = $(this).attr("href");
            var target = $(this).parent().parent();

            if ( confirm("삭제하시겠습니까?") ) {
                $.ajax({
                    url: url,
                    method: "POST",
                }).done(function() {
                    target.remove();
                    $.toaster({
                        priority: 'info',
                        message: '댓글을 삭제했습니다.'
                    });

                }).fail(function() {
                    $.toaster({
                        priority: 'danger',
                        message: '댓글 삭제 실패 ㅠ_ㅠ'
                    });
                });
            }
            return false;
        });
    });
</script>
{% endblock %}

{% block content %}
    <p class="text-right">
        <a href="{% url "blog:post_edit" post.id %}" class="btn btn-info">수정</a>
        <a href="{% url "blog:post_delete" post.id %}" class="btn btn-danger">삭제</a>
        <a href="{% url "blog:index" %}" class="btn btn-default">목록</a>
    </p>

    <div class="panel panel-default">
        <div class="panel-heading">
            {{ post.title }}
        </div>
        <div class="panel-body">
            {{ post.content }}
        </div>
        <div class="panel-footer">
            수정시간 : {{ post.updated_at }}
        </div>
    </div>

    <p>
        <a href="{% url "blog:comment_new" post.id %}" class="btn btn-primary btn-block">새 댓글 달기</a>
    </p>

    <div class="panel panel-default">
        <div class="panel-heading">
            댓글
        </div>
        <div class="panel-body">
            <table class="table table-hover">
            {% for comment in post.comment_set.all %}
            <tr>
                <td>
                    <a href="{% url "blog:comment_edit" post.id comment.id %}">
                        {{ comment.message }}
                    </a>
                    at {{ comment.updated_at }}
                    <a href="{% url "blog:comment_delete" post.id comment.id %}" class="text-danger delete-confirm">
                        삭제
                    </a>
                </td>
            </tr>
            {% empty %}
            {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}

