{% extends "blog/layout.html" %}
{% load bootstrap3 blog_tags staticfiles %}

{% block extra_script %}
<link rel="stylesheet" href="{% static "blog/post_detail.css" %}" />
<script src="{% static "blog/post_detail.js" %}"></script>
{% endblock %}

{% block navbar_brand %}
    <a class="navbar-brand" href="{% url "blog:author_home" author.username %}">{{ author }}'s blog</a>
{% endblock %}

{% block content %}
    <p class="text-right">
        <a href="{% url "blog:post_edit" post.id %}" class="btn btn-info">수정</a>
        <a href="{% url "blog:post_delete" post.id %}" class="btn btn-danger">삭제</a>
        <a href="{% url "blog:index" %}" class="btn btn-default">목록</a>
    </p>

    <div class="panel panel-default">
        <div class="panel-heading">
            {{ post.title }}
        </div>
        <div class="panel-body">
            <p class="post_jjal">
                {% if post.jjal %}
                    <img src="{{ post.jjal.url }}" />
                {% endif %}
            </p>

            {% if post.lnglat %}
                <img class="post_thumbnail_map" src="http://maps.googleapis.com/maps/api/staticmap?center={{ post.lat }},{{ post.lng }}&zoom=11&size=150x150&markers=color:red%7Clabel:A%7C{{ post.lat }},{{ post.lng }}" />
            {% endif %}

            {{ post.content|linebreaks }}
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-6">
                    {{ post.liked_users.all.count }} 명이 좋아합니다.

                    {% if user.is_authenticated %}
                        {% if post|is_like_post:user %}
                            <a href="{% url "blog:post_unlike" post.id %}">좋아요 취소</a>
                        {% else %}
                            <a href="{% url "blog:post_like" post.id %}">좋아요</a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-sm-6 text-right">
                    by {{ post.author }},
                    수정시간 : {{ post.updated_at }}
                </div>
            </div>
        </div>
    </div>

    <hr/>

    <div class="panel panel-default">
        <div class="panel-heading">
            댓글
        </div>
        <div class="panel-body">
            <form id="comment_form" action="{% url "blog:comment_new" post.id %}" method="post">
                {% csrf_token %}
                {% bootstrap_form comment_form %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary btn-block">
                        {% bootstrap_icon "ok-sign" %} 저장하기
                    </button>
                {% endbuttons %}
            </form>

            <table id="comment_list" class="table table-hover">
            <tbody>
            {% for comment in post.comment_set.all %}
            <tr>
                <td>
                    <a href="{% url "blog:comment_edit" post.id comment.id %}">
                        {{ comment.message }}
                    </a>
                    at {{ comment.updated_at }}
                    <a href="{% url "blog:comment_delete" post.id comment.id %}" class="text-danger delete-confirm">
                        삭제
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>

{% endblock %}

