{% extends "blog/layout.html" %}

{% block content %}
    <p class="text-right">
        <a href="{% url "blog:post_edit" post.id %}" class="btn btn-info">수정</a>
        <a href="{% url "blog:post_delete" post.id %}" class="btn btn-danger">삭제</a>
        <a href="{% url "blog:index" %}" class="btn btn-default">목록</a>
    </p>

    <div class="panel panel-default">
        <div class="panel-heading">
            {{ post.title }}
        </div>
        <div class="panel-body">
            {{ post.content }}
        </div>
        <div class="panel-footer">
            수정시간 : {{ post.updated_at }}
        </div>
    </div>

    <a href="{% url "blog:comment_new" post.id %}" class="btn btn-primary">새 댓글</a>

{% endblock %}

